@charset "UFT-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

body {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    border-radius: 5px;
    background-color: white;
    background-image: url(imagens/white-paper-texture-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 20px;
    box-shadow: 0px 0px 10px #214001;
}

body img {
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.pequena {
    display: block;
    margin: auto;
    max-width: 290px;
}

:root {
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
     --font-android: 'Android', cursive; 
}

header {
    text-align: center;
    background-image: linear-gradient(to bottom, #00ca76, #797979);
    padding-bottom: 10px;
    font-family: var(--font-padrao);
    border-radius: 10px;
}

header > h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: aliceblue;
    font-family: var(--font-padrao);
    text-shadow: 2px 2px 0px black;
}

header > p {
   color: aliceblue;
   font-family: var(--font-padrao);
}

.navigation {
    margin-top: 20px;
    margin-bottom: 1px;
    margin-left: 20px;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.links:hover {
    background-color: aliceblue;
    border: 1px;
    border-radius: 2px;
    color: #00ca76;
    padding: 1px 1px 1px 1px;
}

.links {
    color: aliceblue;
    text-decoration: none;
    font-family: var(--font-padrao);
    transition-duration: 0.5s;
    box-shadow: 0px 5px 6px rgba( 0, 0, 0, 0.363);
    padding: 4px 3px 4px 3px;
}

section > h2 {
    background-image: linear-gradient(to right, #dbead5b0, rgba(255, 255, 255, 0.911));
    text-align: start;
    color: #009000;
    margin: 20px 10px 20px 10px; /* estilo relógio */
    font-family: var(--font-padrao);
    border-radius: 5px;
    padding-left: 5px;
}

section > p {
    margin-left: 10px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
}

div > h2 {
    background-image: linear-gradient(to right, #dbead5b0, rgba(255, 255, 255, 0.911));
    text-align: start;
    color: #009000;
    margin: 20px 10px 20px 10px;
    font-family: var(--font-padrao);
    border-radius: 5px;
    padding-left: 5px;
}

div > p {
    margin-left: 10px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
}

.mentions {
    color: #00a000;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
}

.mentions:hover {
    background-color: #00ca76;
    color: white;
    transition-duration: 0.5s;
    text-decoration: underline;
}

.video {
    background-color: #00a000;
    margin-right: -20px;
    margin-left: -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: #b7d5ac;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(22, 22, 22, 0.836);
}

aside > h3 {
    color: white;
    background-image: linear-gradient(to right, #00ca76, #797979);
    border-radius: 10px;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

aside > p {
    margin: 10px;
    text-align: justify;
    line-height: 1.5em;
}

ul {
    columns: 2;
    list-style: inside;
    text-decoration: none;
}

footer {
    background-image: linear-gradient(to bottom, #b7d5ac, transparent);
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 3px 3px 8px rgba(22, 22, 22, 0.836);
}

footer > p {
    margin: 30px;
    color: rgba(22, 22, 22, 0.836);
    font-weight: bolder;
}

footer a {
    text-decoration: none;
    font-weight: bolder;
    color: #00a000;
}

.list {
    margin-left: 30px;
    text-align: start;
    text-decoration: none;
}

/* Os IDs que coloquei nas palavras em strong */

.strong {
   color: #00a000
}